In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_pickle('summary_df.pkl')
df2 = pd.read_pickle('summary_df_test.pkl')
df3 = pd.read_pickle('summary_df_test_2.pkl')

In [3]:
df = pd.concat([df1, df2, df3])

In [4]:
df.head()

,IR,QC,QD,Tavg,Tmin,Tmax,chargetime,cycle,cell,cycle_life,C1,C2,Q1,Qd
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.0,b1c0,1190,3.6,3.6,80,0.000000
1,0.016739,1.071289,1.070689,31.875000,29.562500,35.65625,13.343750,2.0,b1c0,1190,3.6,3.6,80,1.070312
2,0.016724,1.071289,1.071900,31.937500,29.609375,35.68750,13.421875,3.0,b1c0,1190,3.6,3.6,80,1.072266
3,0.016678,1.072266,1.072510,31.937500,29.750000,35.68750,13.421875,4.0,b1c0,1190,3.6,3.6,80,1.072266
4,0.016663,1.073242,1.073174,31.953125,29.640625,35.71875,13.343750,5.0,b1c0,1190,3.6,3.6,80,1.073242

In [5]:
df['cycle'] = df['cycle'].astype('int16')

In [6]:
df.shape

(110312, 14)

In [7]:
df = df[df['IR'] != 0]

In [8]:
df.shape

(110244, 14)

In [9]:
df = df[df['cycle'] <= 20]

In [10]:
df['class'] = np.where(df['cycle_life'] >= 700, 1, 0)

In [11]:
df.head()

,IR,QC,QD,Tavg,Tmin,Tmax,chargetime,cycle,cell,cycle_life,C1,C2,Q1,Qd,class
1,0.016739,1.071289,1.070689,31.875000,29.562500,35.65625,13.343750,2,b1c0,1190,3.6,3.6,80,1.070312,1
2,0.016724,1.071289,1.071900,31.937500,29.609375,35.68750,13.421875,3,b1c0,1190,3.6,3.6,80,1.072266,1
3,0.016678,1.072266,1.072510,31.937500,29.750000,35.68750,13.421875,4,b1c0,1190,3.6,3.6,80,1.072266,1
4,0.016663,1.073242,1.073174,31.953125,29.640625,35.71875,13.343750,5,b1c0,1190,3.6,3.6,80,1.073242,1
5,0.016617,1.073242,1.073576,31.968750,29.750000,35.71875,13.343750,6,b1c0,1190,3.6,3.6,80,1.073242,1

In [12]:
df['class'].value_counts()

1    1576
0    1127
Name: class, dtype: int64

In [13]:
df['cycle_life'].value_counts()

429     40
828     40
487     40
499     40
461     40
        ..
862     18
559     18
1177    18
1179    18
1227    18
Name: cycle_life, Length: 127, dtype: int64

In [14]:
df.head()

,IR,QC,QD,Tavg,Tmin,Tmax,chargetime,cycle,cell,cycle_life,C1,C2,Q1,Qd,class
1,0.016739,1.071289,1.070689,31.875000,29.562500,35.65625,13.343750,2,b1c0,1190,3.6,3.6,80,1.070312,1
2,0.016724,1.071289,1.071900,31.937500,29.609375,35.68750,13.421875,3,b1c0,1190,3.6,3.6,80,1.072266,1
3,0.016678,1.072266,1.072510,31.937500,29.750000,35.68750,13.421875,4,b1c0,1190,3.6,3.6,80,1.072266,1
4,0.016663,1.073242,1.073174,31.953125,29.640625,35.71875,13.343750,5,b1c0,1190,3.6,3.6,80,1.073242,1
5,0.016617,1.073242,1.073576,31.968750,29.750000,35.71875,13.343750,6,b1c0,1190,3.6,3.6,80,1.073242,1

In [15]:
df['cycle'].value_counts().sort_index()

1      92
2     138
3     138
4     138
5     138
6     138
7     138
8     138
9     138
10    138
11    138
12    132
13    133
14    138
15    138
16    138
17    138
18    138
19    138
20    138
Name: cycle, dtype: int64

In [16]:
y = df['class']

In [17]:
X = df.drop(['cycle_life','cell','cycle', 'class'], axis = 1)

In [18]:
y.head()

1    1
2    1
3    1
4    1
5    1
Name: class, dtype: int64

In [19]:
X.head()

,IR,QC,QD,Tavg,Tmin,Tmax,chargetime,C1,C2,Q1,Qd
1,0.016739,1.071289,1.070689,31.875000,29.562500,35.65625,13.343750,3.6,3.6,80,1.070312
2,0.016724,1.071289,1.071900,31.937500,29.609375,35.68750,13.421875,3.6,3.6,80,1.072266
3,0.016678,1.072266,1.072510,31.937500,29.750000,35.68750,13.421875,3.6,3.6,80,1.072266
4,0.016663,1.073242,1.073174,31.953125,29.640625,35.71875,13.343750,3.6,3.6,80,1.073242
5,0.016617,1.073242,1.073576,31.968750,29.750000,35.71875,13.343750,3.6,3.6,80,1.073242

# Train Test split

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0, shuffle=True)

# Logistic Regression

In [21]:
from sklearn.linear_model import LogisticRegression

In [22]:
reg_log = LogisticRegression()

In [23]:
reg_log.fit(X_train, y_train)

/home/tam/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [24]:
y_pred = reg_log.predict(X_test)

In [34]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [26]:
accuracy_score(y_test, y_pred)

0.8939580764488286

In [36]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       323
           1       1.00      1.00      1.00       488

    accuracy                           1.00       811
   macro avg       1.00      1.00      1.00       811
weighted avg       1.00      1.00      1.00       811

In [27]:
confusion_matrix(y_test, y_pred)

array([[269,  54],
       [ 32, 456]])

# Random Forest Classifier

In [28]:
from sklearn.ensemble import RandomForestClassifier

In [29]:
Forest = RandomForestClassifier()

In [30]:
Forest.fit(X_train, y_train)

/home/tam/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [31]:
y_pred = Forest.predict(X_test)

In [32]:
accuracy_score(y_pred, y_test)

1.0

In [33]:
confusion_matrix(y_pred, y_test)

array([[323,   0],
       [  0, 488]])