In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_pickle('summary_df.pkl')
df2 = pd.read_pickle('summary_df_test.pkl')
df3 = pd.read_pickle('summary_df_test_2.pkl')

In [3]:
df = pd.concat([df1, df2, df3])

In [4]:
df.head()

,IR,QC,QD,Tavg,Tmin,Tmax,chargetime,cycle,cell,cycle_life,C1,C2,Q1
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.0,b1c0,1190,3.6,3.6,80
1,0.016739,1.071289,1.070312,31.875000,29.562500,35.65625,13.343750,2.0,b1c0,1190,3.6,3.6,80
2,0.016724,1.071289,1.072266,31.937500,29.609375,35.68750,13.421875,3.0,b1c0,1190,3.6,3.6,80
3,0.016678,1.072266,1.072266,31.937500,29.750000,35.68750,13.421875,4.0,b1c0,1190,3.6,3.6,80
4,0.016663,1.073242,1.073242,31.953125,29.640625,35.71875,13.343750,5.0,b1c0,1190,3.6,3.6,80

In [5]:
df['cycle'] = df['cycle'].astype('int16')

In [6]:
df.shape

(110312, 13)

In [7]:
df = df[df['IR'] != 0]

In [8]:
df.shape

(110244, 13)

In [9]:
df = df[df['cycle'] <= 5]

In [10]:
df['class'] = np.where(df['cycle_life'] >= 700, 1, 0)

In [11]:
df.head()

,IR,QC,QD,Tavg,Tmin,Tmax,chargetime,cycle,cell,cycle_life,C1,C2,Q1,class
1,0.016739,1.071289,1.070312,31.875000,29.562500,35.65625,13.343750,2,b1c0,1190,3.6,3.6,80,1
2,0.016724,1.071289,1.072266,31.937500,29.609375,35.68750,13.421875,3,b1c0,1190,3.6,3.6,80,1
3,0.016678,1.072266,1.072266,31.937500,29.750000,35.68750,13.421875,4,b1c0,1190,3.6,3.6,80,1
4,0.016663,1.073242,1.073242,31.953125,29.640625,35.71875,13.343750,5,b1c0,1190,3.6,3.6,80,1
1,0.017044,1.075195,1.075195,31.671875,29.859375,34.31250,13.429688,2,b1c1,1179,3.6,3.6,80,1

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 644 entries, 1 to 4
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   IR          644 non-null    float16
 1   QC          644 non-null    float16
 2   QD          644 non-null    float16
 3   Tavg        644 non-null    float16
 4   Tmin        644 non-null    float16
 5   Tmax        644 non-null    float16
 6   chargetime  644 non-null    float16
 7   cycle       644 non-null    int16
 8   cell        644 non-null    object
 9   cycle_life  644 non-null    int16
 10  C1          644 non-null    float64
 11  C2          644 non-null    float64
 12  Q1          644 non-null    int64
 13  class       644 non-null    int64
dtypes: float16(7), float64(2), int16(2), int64(2), object(1)
memory usage: 41.5+ KB

In [13]:
df.describe()

,IR,QC,QD,Tavg,Tmin,Tmax,chargetime,cycle,cycle_life,C1,C2,Q1,class
count,644.000000,644.000000,644.000000,644.000000,644.000000,644.000000,644.000000,644.000000,644.000000,644.000000,644.000000,644.000000,644.000000
mean,0.016571,1.069336,1.069336,33.031250,30.531250,36.156250,10.515625,3.142857,787.706522,4.981910,4.235559,46.071429,0.572981
std,0.001092,0.015602,0.015434,1.244141,0.861816,1.719727,0.847168,1.356315,328.690676,1.551684,0.795795,23.414273,0.495030
min,0.013168,0.970703,0.970215,29.156250,26.734375,30.500000,8.984375,1.000000,148.000000,0.000000,3.000000,2.000000,0.000000
25%,0.015682,1.065430,1.065430,32.218750,29.964844,35.156250,10.046875,2.000000,498.000000,4.800000,3.600000,30.000000,0.000000
50%,0.016693,1.071289,1.071289,32.968750,30.437500,36.406250,10.109375,3.000000,779.000000,5.300000,4.250000,47.000000,1.000000
75%,0.017365,1.077148,1.077148,33.531250,30.949219,37.226562,10.765625,4.000000,989.000000,5.600000,4.800000,67.000000,1.000000
max,0.020370,1.096680,1.097656,36.343750,32.281250,40.062500,13.429688,5.000000,1935.000000,8.000000,6.000000,80.000000,1.000000

In [14]:
df['class'].value_counts()

1    369
0    275
Name: class, dtype: int64

In [15]:
df['cycle_life'].value_counts()

483     10
499     10
828     10
429     10
858     10
        ..
842      4
854      4
857      4
860      4
1017     4
Name: cycle_life, Length: 127, dtype: int64

In [16]:
df.head()

,IR,QC,QD,Tavg,Tmin,Tmax,chargetime,cycle,cell,cycle_life,C1,C2,Q1,class
1,0.016739,1.071289,1.070312,31.875000,29.562500,35.65625,13.343750,2,b1c0,1190,3.6,3.6,80,1
2,0.016724,1.071289,1.072266,31.937500,29.609375,35.68750,13.421875,3,b1c0,1190,3.6,3.6,80,1
3,0.016678,1.072266,1.072266,31.937500,29.750000,35.68750,13.421875,4,b1c0,1190,3.6,3.6,80,1
4,0.016663,1.073242,1.073242,31.953125,29.640625,35.71875,13.343750,5,b1c0,1190,3.6,3.6,80,1
1,0.017044,1.075195,1.075195,31.671875,29.859375,34.31250,13.429688,2,b1c1,1179,3.6,3.6,80,1

In [17]:
df['cycle'].value_counts().sort_index()

1     92
2    138
3    138
4    138
5    138
Name: cycle, dtype: int64

In [18]:
y = df['class']

In [19]:
X = df.drop(['cycle_life','cell','cycle', 'class'], axis = 1)

In [20]:
y.head()

1    1
2    1
3    1
4    1
1    1
Name: class, dtype: int64

In [21]:
X.head()

,IR,QC,QD,Tavg,Tmin,Tmax,chargetime,C1,C2,Q1
1,0.016739,1.071289,1.070312,31.875000,29.562500,35.65625,13.343750,3.6,3.6,80
2,0.016724,1.071289,1.072266,31.937500,29.609375,35.68750,13.421875,3.6,3.6,80
3,0.016678,1.072266,1.072266,31.937500,29.750000,35.68750,13.421875,3.6,3.6,80
4,0.016663,1.073242,1.073242,31.953125,29.640625,35.71875,13.343750,3.6,3.6,80
1,0.017044,1.075195,1.075195,31.671875,29.859375,34.31250,13.429688,3.6,3.6,80

In [22]:
print('X_shape: ', X.shape)
print('y_shape: ', y.shape)

X_shape:  (644, 10)
y_shape:  (644,)

# Train Test split

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0, shuffle=True)

In [24]:
print('X_train_shape: ', X_train.shape)
print('y_train_shape: ', y_train.shape)

print('X_test_shape: ', X_test.shape)
print('y_test_shape: ', y_test.shape)

X_train_shape:  (450, 10)
y_train_shape:  (450,)
X_test_shape:  (194, 10)
y_test_shape:  (194,)

In [25]:
df_result = pd.DataFrame()
df_result['y_test'] = y_test

# Logistic Regression

In [26]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [27]:
from sklearn.linear_model import LogisticRegression
reg_log = LogisticRegression(random_state=0)
reg_log.fit(X_train, y_train)
df_result['y_pred'] = reg_log.predict(X_test)

/home/tam/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [28]:
df_result.head(1)

   y_test  y_pred
4       1       1

In [29]:
print('Accuracy: ', accuracy_score(df_result['y_test'], df_result['y_pred']) )

Accuracy:  0.9072164948453608

In [30]:
tn, fp, fn, tp = confusion_matrix(df_result['y_test'], df_result['y_pred']).ravel()
print('True negative: ', tn)
print('false positive: ', fp)
print('false negative: ', fn)
print('True positive: ', tp)

True negative:  63
false positive:  16
false negative:  2
True positive:  113

In [31]:
print('Confusion matrix \n', confusion_matrix(df_result['y_test'], df_result['y_pred']))

Confusion matrix
 [[ 63  16]
 [  2 113]]

In [40]:
18/194

0.09278350515463918

# Random Forest Classifier

In [32]:
from sklearn.ensemble import RandomForestClassifier

In [33]:
Forest = RandomForestClassifier(random_state=0)

In [34]:
Forest.fit(X_train, y_train)

/home/tam/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [35]:
df_result['y_pred'] = Forest.predict(X_test)

In [36]:
print('Accuracy: ', accuracy_score(df_result['y_test'], df_result['y_pred']) )

Accuracy:  0.9896907216494846

In [37]:
tn, fp, fn, tp = confusion_matrix(df_result['y_test'], df_result['y_pred']).ravel()
print('True negative: ', tn)
print('false positive: ', fp)
print('false negative: ', fn)
print('True positive: ', tp)

True negative:  79
false positive:  0
false negative:  2
True positive:  113

In [38]:
confusion_matrix(df_result['y_test'], df_result['y_pred'])

array([[ 79,   0],
       [  2, 113]])

In [41]:
2/194

0.010309278350515464