In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_pickle('summary_df.pkl')
df2 = pd.read_pickle('summary_df_test.pkl')
df3 = pd.read_pickle('summary_df_test_2.pkl')

In [3]:
df = pd.concat([df1, df2, df3])

In [4]:
df.head()

,IR,QC,QD,Tavg,Tmin,Tmax,chargetime,cycle,cell,cycle_life,C1,C2,Q1
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.0,b1c0,1190,3.6,3.6,80
1,0.016739,1.071289,1.070312,31.875000,29.562500,35.65625,13.343750,2.0,b1c0,1190,3.6,3.6,80
2,0.016724,1.071289,1.072266,31.937500,29.609375,35.68750,13.421875,3.0,b1c0,1190,3.6,3.6,80
3,0.016678,1.072266,1.072266,31.937500,29.750000,35.68750,13.421875,4.0,b1c0,1190,3.6,3.6,80
4,0.016663,1.073242,1.073242,31.953125,29.640625,35.71875,13.343750,5.0,b1c0,1190,3.6,3.6,80

In [5]:
df['cycle'] = df['cycle'].astype('int16')

In [6]:
df.shape

(110312, 13)

In [7]:
df = df[df['IR'] != 0]

In [8]:
df.shape

(110244, 13)

In [9]:
df = df[df['cycle'] <= 10]

In [10]:
df['class'] = np.where(df['cycle_life'] >= 700, 1, 0)

In [11]:
df.head()

,IR,QC,QD,Tavg,Tmin,Tmax,chargetime,cycle,cell,cycle_life,C1,C2,Q1,class
1,0.016739,1.071289,1.070312,31.875000,29.562500,35.65625,13.343750,2,b1c0,1190,3.6,3.6,80,1
2,0.016724,1.071289,1.072266,31.937500,29.609375,35.68750,13.421875,3,b1c0,1190,3.6,3.6,80,1
3,0.016678,1.072266,1.072266,31.937500,29.750000,35.68750,13.421875,4,b1c0,1190,3.6,3.6,80,1
4,0.016663,1.073242,1.073242,31.953125,29.640625,35.71875,13.343750,5,b1c0,1190,3.6,3.6,80,1
5,0.016617,1.073242,1.073242,31.968750,29.750000,35.71875,13.343750,6,b1c0,1190,3.6,3.6,80,1

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1334 entries, 1 to 9
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   IR          1334 non-null   float16
 1   QC          1334 non-null   float16
 2   QD          1334 non-null   float16
 3   Tavg        1334 non-null   float16
 4   Tmin        1334 non-null   float16
 5   Tmax        1334 non-null   float16
 6   chargetime  1334 non-null   float16
 7   cycle       1334 non-null   int16
 8   cell        1334 non-null   object
 9   cycle_life  1334 non-null   int16
 10  C1          1334 non-null   float64
 11  C2          1334 non-null   float64
 12  Q1          1334 non-null   int64
 13  class       1334 non-null   int64
dtypes: float16(7), float64(2), int16(2), int64(2), object(1)
memory usage: 86.0+ KB

In [13]:
df.describe()

,IR,QC,QD,Tavg,Tmin,Tmax,chargetime,cycle,cycle_life,C1,C2,Q1,class
count,1334.000000,1334.000000,1334.000000,1334.000000,1334.000000,1334.000000,1334.000000,1334.000000,1334.000000,1334.000000,1334.000000,1334.000000,1334.00000
mean,0.016510,1.070312,1.070312,32.968750,30.484375,36.093750,10.531250,5.655172,789.672414,5.012819,4.213043,46.259370,0.58021
std,0.001064,0.016037,0.015526,1.228516,0.830566,1.722656,0.858398,2.796067,324.788137,1.548684,0.797922,23.295361,0.49371
min,0.013168,0.966797,0.966309,29.093750,26.734375,30.500000,8.898438,1.000000,148.000000,0.000000,3.000000,2.000000,0.00000
25%,0.015640,1.066406,1.067383,32.187500,29.968750,35.125000,10.046875,3.000000,499.000000,4.800000,3.600000,30.000000,0.00000
50%,0.016632,1.072266,1.072266,32.937500,30.406250,36.375000,10.109375,6.000000,786.000000,5.300000,4.000000,47.000000,1.00000
75%,0.017258,1.079102,1.079102,33.500000,30.859375,37.218750,10.843750,8.000000,989.000000,5.600000,4.800000,67.000000,1.00000
max,0.020370,1.170898,1.097656,36.531250,32.406250,40.468750,13.429688,10.000000,1935.000000,8.000000,6.000000,80.000000,1.00000

In [14]:
df['class'].value_counts()

1    774
0    560
Name: class, dtype: int64

In [15]:
df['cycle_life'].value_counts()

499     20
828     20
487     20
858     20
429     20
        ..
906      9
691      9
1051     9
1054     9
842      9
Name: cycle_life, Length: 127, dtype: int64

In [16]:
df.head()

,IR,QC,QD,Tavg,Tmin,Tmax,chargetime,cycle,cell,cycle_life,C1,C2,Q1,class
1,0.016739,1.071289,1.070312,31.875000,29.562500,35.65625,13.343750,2,b1c0,1190,3.6,3.6,80,1
2,0.016724,1.071289,1.072266,31.937500,29.609375,35.68750,13.421875,3,b1c0,1190,3.6,3.6,80,1
3,0.016678,1.072266,1.072266,31.937500,29.750000,35.68750,13.421875,4,b1c0,1190,3.6,3.6,80,1
4,0.016663,1.073242,1.073242,31.953125,29.640625,35.71875,13.343750,5,b1c0,1190,3.6,3.6,80,1
5,0.016617,1.073242,1.073242,31.968750,29.750000,35.71875,13.343750,6,b1c0,1190,3.6,3.6,80,1

In [17]:
df['cycle'].value_counts().sort_index()

1      92
2     138
3     138
4     138
5     138
6     138
7     138
8     138
9     138
10    138
Name: cycle, dtype: int64

In [18]:
y = df['class']

In [19]:
X = df.drop(['cycle_life','cell','cycle', 'class'], axis = 1)

In [20]:
y.head()

1    1
2    1
3    1
4    1
5    1
Name: class, dtype: int64

In [21]:
X.head()

,IR,QC,QD,Tavg,Tmin,Tmax,chargetime,C1,C2,Q1
1,0.016739,1.071289,1.070312,31.875000,29.562500,35.65625,13.343750,3.6,3.6,80
2,0.016724,1.071289,1.072266,31.937500,29.609375,35.68750,13.421875,3.6,3.6,80
3,0.016678,1.072266,1.072266,31.937500,29.750000,35.68750,13.421875,3.6,3.6,80
4,0.016663,1.073242,1.073242,31.953125,29.640625,35.71875,13.343750,3.6,3.6,80
5,0.016617,1.073242,1.073242,31.968750,29.750000,35.71875,13.343750,3.6,3.6,80

In [22]:
print('X_shape: ', X.shape)
print('y_shape: ', y.shape)

X_shape:  (1334, 10)
y_shape:  (1334,)

# Train Test split

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0, shuffle=True)

In [24]:
print('X_train_shape: ', X_train.shape)
print('y_train_shape: ', y_train.shape)

print('X_test_shape: ', X_test.shape)
print('y_test_shape: ', y_test.shape)

X_train_shape:  (933, 10)
y_train_shape:  (933,)
X_test_shape:  (401, 10)
y_test_shape:  (401,)

In [25]:
df_result = pd.DataFrame()
df_result['y_test'] = y_test

# Logistic Regression

In [26]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [27]:
from sklearn.linear_model import LogisticRegression
reg_log = LogisticRegression(random_state=0)
reg_log.fit(X_train, y_train)
df_result['y_pred'] = reg_log.predict(X_test)

/home/tam/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [28]:
df_result.head(1)

   y_test  y_pred
2       1       1

In [29]:
print('Accuracy: ', accuracy_score(df_result['y_test'], df_result['y_pred']) )

Accuracy:  0.8902743142144638

In [30]:
tn, fp, fn, tp = confusion_matrix(df_result['y_test'], df_result['y_pred']).ravel()
print('True negative: ', tn)
print('false positive: ', fp)
print('false negative: ', fn)
print('True positive: ', tp)

True negative:  143
false positive:  32
false negative:  12
True positive:  214

In [31]:
print('Confusion matrix \n', confusion_matrix(df_result['y_test'], df_result['y_pred']))

Confusion matrix
 [[143  32]
 [ 12 214]]

# Random Forest Classifier

In [32]:
from sklearn.ensemble import RandomForestClassifier

In [33]:
Forest = RandomForestClassifier(random_state=0)

In [34]:
Forest.fit(X_train, y_train)

/home/tam/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [35]:
df_result['y_pred'] = Forest.predict(X_test)

In [36]:
print('Accuracy: ', accuracy_score(df_result['y_test'], df_result['y_pred']) )

Accuracy:  0.9975062344139651

In [37]:
tn, fp, fn, tp = confusion_matrix(df_result['y_test'], df_result['y_pred']).ravel()
print('True negative: ', tn)
print('false positive: ', fp)
print('false negative: ', fn)
print('True positive: ', tp)

True negative:  175
false positive:  0
false negative:  1
True positive:  225

In [38]:
confusion_matrix(df_result['y_test'], df_result['y_pred'])

array([[175,   0],
       [  1, 225]])

In [40]:
1/401

0.0024937655860349127