In [25]:
import h5py
import scipy.io
import matplotlib.pyplot as plt
import numpy as np
import pickle
import pandas as pd

In [26]:
matFilename = '../2018-04-12_batchdata_updated_struct_errorcorrect.mat'
f = h5py.File(matFilename)

In [27]:
list(f.keys())

['#refs#', '#subsystem#', 'batch', 'batch_date']

In [28]:
batch = f['batch']

In [29]:
list(batch.keys())

['Vdlin',
 'barcode',
 'channel_id',
 'cycle_life',
 'cycles',
 'policy',
 'policy_readable',
 'summary']

In [30]:
%%time
num_cells = batch['summary'].shape[0]
bat_dict = {}
for i in range(num_cells):
    cl = f[batch['cycle_life'][i,0]].value
    ch_id = f[batch['channel_id'][i,0]].value
    policy = f[batch['policy_readable'][i,0]].value.tobytes()[::2].decode()
    summary_IR = np.hstack(f[batch['summary'][i,0]]['IR'][0,:].tolist())
    summary_QCharge = np.hstack(f[batch['summary'][i,0]]['QCharge'][0,:].tolist())
    summary_QDischarge = np.hstack(f[batch['summary'][i,0]]['QDischarge'][0,:].tolist())
    summary_Tavg = np.hstack(f[batch['summary'][i,0]]['Tavg'][0,:].tolist())
    summary_Tmin = np.hstack(f[batch['summary'][i,0]]['Tmin'][0,:].tolist())
    summary_Tmax = np.hstack(f[batch['summary'][i,0]]['Tmax'][0,:].tolist())
    summary_chargetime = np.hstack(f[batch['summary'][i,0]]['chargetime'][0,:].tolist())
    summary_cycle = np.hstack(f[batch['summary'][i,0]]['cycle'][0,:].tolist())
    summary = {'IR': summary_IR, 'QC': summary_QCharge, 'QD': summary_QDischarge, 'Tavg':
                summary_Tavg, 'Tmin': summary_Tmin, 'Tmax': summary_Tmax, 'chargetime': summary_chargetime,
                'cycle': summary_cycle}
    cycles = f[batch['cycles'][i,0]]
    cycle_dict = {}
#     for j in range(cycles['I'].shape[0]):
#         I = np.hstack((f[cycles['I'][j,0]].value))
#         Qc = np.hstack((f[cycles['Qc'][j,0]].value))
#         Qd = np.hstack((f[cycles['Qd'][j,0]].value))
#         Qdlin = np.hstack((f[cycles['Qdlin'][j,0]].value))
#         T = np.hstack((f[cycles['T'][j,0]].value))
#         Tdlin = np.hstack((f[cycles['Tdlin'][j,0]].value))
#         V = np.hstack((f[cycles['V'][j,0]].value))
#         dQdV = np.hstack((f[cycles['discharge_dQdV'][j,0]].value))
#         t = np.hstack((f[cycles['t'][j,0]].value))
#         cd = {'I': I, 'Qc': Qc, 'Qd': Qd, 'Qdlin': Qdlin, 'T': T, 'Tdlin': Tdlin, 'V':V, 'dQdV': dQdV, 't':t}
#         cycle_dict[str(j)] = cd
        
#     cell_dict = {'cycle_life': cl, 'ch_id':ch_id, 'charge_policy':policy, 'summary': summary, 'cycles': cycle_dict}
    cell_dict = {'cycle_life': cl, 'charge_policy':policy, 'summary': summary}
    key = 'b1c' + str(i)
    bat_dict[key]=   cell_dict

/home/tam/anaconda3/lib/python3.7/site-packages/h5py/_hl/dataset.py:313: H5pyDeprecationWarning: dataset.value has been deprecated. Use dataset[()] instead.
  "Use dataset[()] instead.", H5pyDeprecationWarning)

CPU times: user 1.47 s, sys: 11.2 ms, total: 1.48 s
Wall time: 1.68 s

In [31]:
df = pd.DataFrame.from_dict(bat_dict)

In [32]:
df = df.T
df.head()

,cycle_life,charge_policy,summary
b1c0,[[1009.0]],5C(67%)-4C-newstructure,"{'IR': [0.015434842, 0.015398955, 0.015365343,..."
b1c1,[[1063.0]],5.3C(54%)-4C-newstructure,"{'IR': [0.015168298, 0.015162034, 0.015124749,..."
b1c2,[[1267.0]],5.6C(19%)-4.6C-newstructure,"{'IR': [0.014914119, 0.01489381, 0.014826089, ..."
b1c3,[[1115.0]],5.6C(36%)-4.3C-newstructure,"{'IR': [0.014948572, 0.015006617, 0.014963119,..."
b1c4,[[1048.0]],5.6C(19%)-4.6C-newstructure,"{'IR': [0.015297506, 0.015246842, 0.015215214,..."

In [33]:
df['charge_policy']

b1c0         5C(67%)-4C-newstructure
b1c1       5.3C(54%)-4C-newstructure
b1c2     5.6C(19%)-4.6C-newstructure
b1c3     5.6C(36%)-4.3C-newstructure
b1c4     5.6C(19%)-4.6C-newstructure
b1c5     5.6C(36%)-4.3C-newstructure
b1c6     3.7C(31%)-5.9C-newstructure
b1c7     4.8C(80%)-4.8C-newstructure
b1c8         5C(67%)-4C-newstructure
b1c9       5.3C(54%)-4C-newstructure
b1c10    4.8C(80%)-4.8C-newstructure
b1c11    5.6C(19%)-4.6C-newstructure
b1c12    5.6C(36%)-4.3C-newstructure
b1c13    5.6C(19%)-4.6C-newstructure
b1c14    5.6C(36%)-4.3C-newstructure
b1c15    5.9C(15%)-4.6C-newstructure
b1c16    4.8C(80%)-4.8C-newstructure
b1c17      5.3C(54%)-4C-newstructure
b1c18    5.6C(19%)-4.6C-newstructure
b1c19    5.6C(36%)-4.3C-newstructure
b1c20        5C(67%)-4C-newstructure
b1c21    3.7C(31%)-5.9C-newstructure
b1c22    5.9C(60%)-3.1C-newstructure
b1c23    4.8C(80%)-4.8C-newstructure
b1c24        5C(67%)-4C-newstructure
b1c25      5.3C(54%)-4C-newstructure
b1c26    5.6C(19%)-4.6C-newstructure
b1c27    5.6C(36%)-4.3C-newstructure
b1c28    3.7C(31%)-5.9C-newstructure
b1c29    5.9C(15%)-4.6C-newstructure
b1c30      5.3C(54%)-4C-newstructure
b1c31    5.9C(60%)-3.1C-newstructure
b1c32    4.8C(80%)-4.8C-newstructure
b1c33        5C(67%)-4C-newstructure
b1c34      5.3C(54%)-4C-newstructure
b1c35    5.6C(19%)-4.6C-newstructure
b1c36    5.6C(36%)-4.3C-newstructure
b1c37    4.8C(80%)-4.8C-newstructure
b1c38        5C(67%)-4C-newstructure
b1c39      5.3C(54%)-4C-newstructure
b1c40    5.6C(19%)-4.6C-newstructure
b1c41    5.6C(36%)-4.3C-newstructure
b1c42    4.8C(80%)-4.8C-newstructure
b1c43        5C(67%)-4C-newstructure
b1c44      5.3C(54%)-4C-newstructure
b1c45    4.8C(80%)-4.8C-newstructure
Name: charge_policy, dtype: object

In [34]:
float(df['charge_policy'][0].split('-')[-2].split('C')[0])

4.0

# Summary

In [35]:
type(df[['summary']])

pandas.core.frame.DataFrame

In [36]:
summary  = df[['summary']]

In [37]:
summary.head()

                                                summary
b1c0  {'IR': [0.015434842, 0.015398955, 0.015365343,...
b1c1  {'IR': [0.015168298, 0.015162034, 0.015124749,...
b1c2  {'IR': [0.014914119, 0.01489381, 0.014826089, ...
b1c3  {'IR': [0.014948572, 0.015006617, 0.014963119,...
b1c4  {'IR': [0.015297506, 0.015246842, 0.015215214,...

In [38]:

df0 = pd.DataFrame()
count = 0
for i, j in summary['summary'].items():
    

    df1 = pd.DataFrame.from_dict(j)
    df1['cell'] = i
    df1['cycle_life'] = df['cycle_life'][i][0][0]  # take the cycle_life from main df and add it in the summary
    df1['C1'] =  float(df['charge_policy'][i].split('C')[0])
    df1['C2'] = float(df['charge_policy'][i].split('-')[-2].split('C')[0])
    df1['Q1'] = int(df['charge_policy'][i].split('(')[1].split(')')[0].split('%')[0])
    
    
    df0 = pd.concat([df0, df1])
       
print(df0.shape)

(51007, 13)

In [39]:
df0.head(10)

,IR,QC,QD,Tavg,Tmin,Tmax,chargetime,cycle,cell,cycle_life,C1,C2,Q1
0,0.015435,1.066090,1.066573,32.149495,30.830272,33.433834,10.043408,1.0,b1c0,1009.0,5.0,4.0,67
1,0.015399,1.066964,1.067455,32.106606,30.779943,33.403964,10.043255,2.0,b1c0,1009.0,5.0,4.0,67
2,0.015365,1.067611,1.068285,32.088511,30.824746,33.325268,10.042333,3.0,b1c0,1009.0,5.0,4.0,67
3,0.015326,1.068164,1.068708,32.086306,30.804544,33.304202,10.052677,4.0,b1c0,1009.0,5.0,4.0,67
4,0.015309,1.068695,1.069094,32.041147,30.791834,33.257191,10.042382,5.0,b1c0,1009.0,5.0,4.0,67
5,0.015302,1.068945,1.069415,32.014179,30.691322,33.294998,10.042008,6.0,b1c0,1009.0,5.0,4.0,67
6,0.015286,1.069392,1.069730,32.047485,30.734112,33.306644,10.041378,7.0,b1c0,1009.0,5.0,4.0,67
7,0.015268,1.069520,1.069987,32.070644,30.738612,33.364697,10.042217,8.0,b1c0,1009.0,5.0,4.0,67
8,0.015264,1.069904,1.070237,32.081592,30.760095,33.365837,10.044023,9.0,b1c0,1009.0,5.0,4.0,67
9,0.015250,1.070021,1.070419,32.076224,30.711397,33.608757,10.042508,10.0,b1c0,1009.0,5.0,4.0,67

In [40]:
df0[pd.isnull(df0).any(axis=1)]['cell'].value_counts()

b1c32    2237
b1c23    2189
Name: cell, dtype: int64

In [41]:
df0.dropna(axis=0, inplace=True)
df0.shape

(46581, 13)

In [42]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46581 entries, 0 to 1799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   IR          46581 non-null  float64
 1   QC          46581 non-null  float64
 2   QD          46581 non-null  float64
 3   Tavg        46581 non-null  float64
 4   Tmin        46581 non-null  float64
 5   Tmax        46581 non-null  float64
 6   chargetime  46581 non-null  float64
 7   cycle       46581 non-null  float64
 8   cell        46581 non-null  object
 9   cycle_life  46581 non-null  float64
 10  C1          46581 non-null  float64
 11  C2          46581 non-null  float64
 12  Q1          46581 non-null  int64
dtypes: float64(11), int64(1), object(1)
memory usage: 5.0+ MB

In [43]:
df0['IR'] = df0['IR'].astype('float16')
df0['QC'] = df0['QC'].astype('float16')
df0['Qd'] = df0['QD'].astype('float16')
df0['Tavg'] = df0['Tavg'].astype('float16')
df0['Tmin'] = df0['Tmin'].astype('float16')
df0['Tmax'] = df0['Tmax'].astype('float16')
df0['chargetime'] = df0['chargetime'].astype('float16')
df0['cycle_life'] = df0['cycle_life'].astype('int16')

In [44]:
df0.head()

,IR,QC,QD,Tavg,Tmin,Tmax,chargetime,cycle,cell,cycle_life,C1,C2,Q1,Qd
0,0.015434,1.066406,1.066573,32.15625,30.828125,33.43750,10.046875,1.0,b1c0,1009,5.0,4.0,67,1.066406
1,0.015396,1.067383,1.067455,32.09375,30.781250,33.40625,10.046875,2.0,b1c0,1009,5.0,4.0,67,1.067383
2,0.015366,1.067383,1.068285,32.09375,30.828125,33.31250,10.039062,3.0,b1c0,1009,5.0,4.0,67,1.068359
3,0.015327,1.068359,1.068708,32.09375,30.796875,33.31250,10.054688,4.0,b1c0,1009,5.0,4.0,67,1.068359
4,0.015312,1.068359,1.069094,32.03125,30.796875,33.25000,10.039062,5.0,b1c0,1009,5.0,4.0,67,1.069336

In [45]:
df0.shape

(46581, 14)

In [46]:
df0.to_pickle('summary_df_test_2.pkl')

In [47]:
pd.read_pickle('summary_df_test_2.pkl').head()

,IR,QC,QD,Tavg,Tmin,Tmax,chargetime,cycle,cell,cycle_life,C1,C2,Q1,Qd
0,0.015434,1.066406,1.066573,32.15625,30.828125,33.43750,10.046875,1.0,b1c0,1009,5.0,4.0,67,1.066406
1,0.015396,1.067383,1.067455,32.09375,30.781250,33.40625,10.046875,2.0,b1c0,1009,5.0,4.0,67,1.067383
2,0.015366,1.067383,1.068285,32.09375,30.828125,33.31250,10.039062,3.0,b1c0,1009,5.0,4.0,67,1.068359
3,0.015327,1.068359,1.068708,32.09375,30.796875,33.31250,10.054688,4.0,b1c0,1009,5.0,4.0,67,1.068359
4,0.015312,1.068359,1.069094,32.03125,30.796875,33.25000,10.039062,5.0,b1c0,1009,5.0,4.0,67,1.069336